/* USE CSS LAYOUTS HERE */
.grid-body {
    display: grid;
    min-height: 100vh;
    grid-template-rows: 1fr 8fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-header {
    background-color: blueviolet;

}

.grid-main {
background-color: blue;
}

.grid-footer {
    background-color: brown;
    grid-column-start: 1;
    grid-column-end: span 3;
    grid-row-start: 4;
    grid-row-end: span 1;
}

.grid-content {
background-color: cadetblue;
}
